[submodule "submodules/pymanopt_fork"]
	path = submodules/pymanopt_fork
	url = https://github.com/AmmarMian/pymanopt/
[submodule "submodules/pyCovariance"]
	path = submodules/pyCovariance
	url = https://github.com/AmmarMian/pyCovariance
